# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Releases
release/

# Local build output
bin/
tmp/

# Visual Studio Code
.vscode/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local screenshots
Screenshot*
